@{
  Page.Title = "Welcome";
  Page.PageId = "Home";
}
<style>
  #menu-wrapper {
    display: none;
  }
</style>
<script>
  $(function () {
    //Implement cache with local storage. 
    //If it's been more than 10 minutes since you've hit this page, render fade
    //Force fade
    localStorage.firstTime = '';
    var currentMilliseconds = Date.parse(new Date());
    if (!localStorage.firstTime || currentMilliseconds - localStorage.firstTime > 600000) {
      var def = $.Deferred();
      $('#menu-wrapper').fadeIn(2000, function () {
        def.resolve();
      });
      def.done(function () {
        $('.homeContent').fadeIn(600);
      })
    } else {
      $('#menu-wrapper').show();
      $('.homeContent').show();
    }
    //Rolling reset
    localStorage.firstTime = Date.parse(new Date());
  })
</script>
<div class="homeContent">
  <h2>09.29.2012</h2>
  <p>Welcome to our wedding site! Please use the links above to explore :)</p>
  <img src="~/Images/logo.png" alt="logo"/>
</div>