@{
  Page.Title = "Photos";
  Page.PageId = "Photos";
}
@section Scripts {
  <script src="~/Scripts/galleria-1.2.7.min.js"></script>
  <script src="~/Scripts/galleria.classic.min.js"></script>
}
@section Styles {
  <link href="~/Styles/galleria.classic.css" rel="stylesheet" type="text/css" media="screen" />
}

<script>
  $(function() {
    Galleria.loadTheme('Scripts/galleria.classic.min.js');
    Galleria.configure({
      lightbox: true
    });
    Galleria.run('#galleria');
    $('#galleria').fadeIn(1000);
  })
</script>

<h2>Our Favorites</h2>
<p>Here is a collection of some of our favorite photos over the years!</p>
<div id="galleria">
  <a href="~/Photos/100_3903.jpg">
      <img data-title="Lunch"
            data-description="Ling Ling visits Jim for lunch in Building 42"
            src="~/Photos/100_3903.jpg" alt="photo"></a>

  <a href="~/Photos/112_4557.jpg">
    <img data-title="Dinosaurs"
          data-description="At the Museum of Natural History in New York"
          src="~/Photos/112_4557.jpg" alt="photo"></a>

  <a href="~/Photos/IMG_4691.jpg">
      <img data-title="On the Oregon Coast"
            data-description="At Ebola National Park in Oregon"
            src="~/Photos/IMG_4691.jpg" alt="photo"></a>

  <a href="~/Photos/DSCF6380.jpg">
      <img data-title="Credit Card"
            data-description="This is what Jim's credit card looks like (numbers and markings erased for security purposes)"
            src="~/Photos/DSCF6380.jpg" alt="photo"></a>

  <a href="~/Photos/IMG_6000.jpg">
      <img data-title="Oreos"
            data-description="Jim trying to flip an Oreo into his mouth with Ling Ling taping Jack attempting the same thing"
            src="~/Photos/IMG_6000.jpg" alt="photo"></a>

  <a href="~/Photos/080710-rob-amanda--574centered.jpg">
      <img data-title="At a Wedding"
            data-description="At Rob and Amanda's Wedding"
            src="~/Photos/080710-rob-amanda--574centered.jpg" alt="photo"></a>

  <a href="~/Photos/IMG_2378.jpg">
        <img data-title="Up a Tree"
              data-description="Jim shows his goofy side at UW"
              src="~/Photos/IMG_2378.jpg" alt="photo"></a>

  <a href="~/Photos/IMG_3094.jpg">
      <img data-title="Engagement"
            data-description="Our engagement night at the Herb Farm - June 14th, 2012"
            src="~/Photos/IMG_3094.jpg" alt="photo"></a>
  
  <a href="~/Photos/JL-126.jpg">
      <img data-title="Engagement Shoot"
            data-description="At the Blodel Reserve on BainBridge Island"
            src="~/Photos/JL-126.jpg" alt="photo"></a>
</div>