@{
  Page.Title = "Registry";
  Page.PageId = "Registry";
}
<div class="post">
  <h2 class="title">Registry</h2>
  <p>We are registered at the Microsoft company store - or you can just bring cash.</p>
</div>