@{
  Page.Title = "Registry";
  Page.PageId = "Registry";
}
<div class="registryContent">
<p>
Thanks for visiting our registry section! First of all we would like to start off by emphasizing that
we are interested in your presence more than your presents :)
</p>

<h2>Cool, but I still want to bring a gift.</h2>
<p>If you would like to bring a gift we would prefer a <a href ="http://en.wikipedia.org/wiki/Red_envelope" target="_blank">lucky red envelope</a> (a Chinese tradition). 
  Our biggest need is furniture and unfortunately many of these companies do not have a registry, so we would love these!
</p>
<img src="~/Images/RedEnvelope.jpg" alt="red envelope" class="redenvelope"/>

<h2>Do you have a traditional registry?</h2>
<p>Indeed we do! We are also registered at Amazon.com and have everything from a pasta drying rack to a ladder on our wishlist. Access it using the link below:</p>
  <a href="http://www.amazon.com/registry/wedding/2UYMXXEZPISTT" target="_blank"><img border="0" src="~/Images/amazon.png" alt="Amazon Logo" style="height: 100px; width: 100px;"></a>
</div>