@{
  Page.Title = "Thank you!";
  Page.PageId = "Thank You!";
  var invitationID = UrlData[0].AsInt();
  var db = Database.Open("WeddingSite");
  var guest = db.QuerySingle("SELECT * FROM RSVP WHERE InvitationID = @0", invitationID);
}
<div class="post">
  @if (guest.NumberInParty > 0) {
    <h2 class="title">Thanks for your RVSP!</h2>
    <img src="~/Images/birds_red.png" alt="thankspic" style="margin-bottom: 25px;" />
    <h2>See you on the 29th!</h2>
    <p>Thanks @guest.FirstName - we have you down for @guest.NumberInParty guests, please let us know if anything changes.</p>
  } else {
    <h2>Sorry :(</h2>
    <p>We're sorry you can't make it @guest.FirstName. Please RSVP again if your situation changes!</p>
  }
</div>