@{
  Page.Title = "RSVP";
  Page.PageId = "RSVP";
}
<div class="rsvpContent">
  <h2>Sorry :(</h2>
  <p>It looks like you are trying to add more people to your RSVP! We would love for them to come, but unfortunately we have a small venue and are trying to keep the numbers low.
    Please contact the operator using the information on your RSVP card if you absolutely need more invitation slots.</p>
  <img src="~/Images/cutepanda.jpg" alt="cutepanda"/>
</div>