@{
  Page.Title = "RSVP";
  Page.PageId = "RSVP";
  if (IsPost) {
    var invitationID = Request["invitationID"].AsInt();
    var numOfGuests = Request["numOfGuests"].AsInt();
    var db = Database.Open("WeddingSite");
    db.Execute("UPDATE RSVP SET Responded = @0, NumberInParty = @1 WHERE InvitationId = @2", true, numOfGuests, invitationID);
    Response.Redirect("~/RSVPSuccess/" + invitationID);
  }
}
<script>
  $(function() {
    $('#invitationID').keydown(function (event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        $('#lookup').click();
      }
    });
    $('#lookup').click(function() {
      $('#errorMessage').hide();
      var invitationId = $('#invitationID').val();
      $.getJSON('/endpoints/getguest/' + invitationId, function (data) {
        if (data) {
          if (data.Responded) {
            $('#actionType').html('Update your RSVP');
            $('#actionDescription').html('Thanks for responding ' + data.FirstName + '. Let us know what\'s changed!');
          } else {
            $('#actionType').html('Hi ' + data.FirstName + '!');
            $('#actionDescription').html('Please use the form below to let us know how many will be in your party. If you can\'t make it, please select 0.');
          }
          $('select option:nth-child(' + data.NumberInParty + ')').attr('selected', 'selected')
          $('#invitationInfo').show();
          $('#hiddenInvitationId').val(invitationId);
          $('#firstName').val(data.FirstName);
          $('#lastName').val(data.LastName);
        } else {
          $('#invitationInfo').hide();
          $('#errorMessage').show();
        }
      });
    })
  });
</script>
<div class="rsvpContent">
  <h2 class="title">RSVP</h2>
  <p>Please enter your invitation ID, which is printed on your invitation.</p>
  <fieldset>
    <legend>InvitationID</legend>
    <ol>
      <li>
        <label for="invitationID">Invitation ID</label>
        <input id="invitationID" type="text"/>
        @Html.ValidationMessage("invitationID")
      </li>
      <li>
        <input type="button" id="lookup" class="ajaxButton" value="Look Up" />
      </li>
    </ol>
  </fieldset>
  <div id="errorMessage">
    We could not locate your invitation! Please check the invitation ID and try again.
  </div>
  <div id="invitationInfo">
    <h2 class="title" id="actionType"></h2>
    <p id="actionDescription"></p>
    <fieldset>
      <form method="post">
        @Html.ValidationSummary("There was a problem with your guest. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes:null)
        <ol>
            <li>
              <label for="numOfGuests">Total Number in Party</label>
              <select name="numOfGuests">
                <option value="0">0 (sorry you can't make it)</option>
                <option value="1">1&nbsp;</option>
                <option value="2">2&nbsp;</option>
                <option value="3">3&nbsp;</option>
                <option value="4">4&nbsp;</option>
                <option value="5">5&nbsp;</option>
                <option value="6">6&nbsp;</option>
              </select>
            </li>
            <li class="formactions">
              <input type="submit" value="RSVP"/>
            </li>
        </ol>
        <input type="hidden" name="invitationID" id="hiddenInvitationId"/>
      </form>
      </fieldset>
  </div>
</div>