@{
  Page.Title = "RSVP";
  Page.PageId = "RSVP";
}
<div class="rsvpContent">
  <h2>RSVP</h2>
  <p>We know you're looking forward to RSVPing! Hardworking pandas are currently getting the system up and running, please check back on July 15th!</p>
  <img src="~/Images/cutepanda.jpg" alt="cutepanda"/>
</div>