@{
  Page.Title = "Admin";
  Page.PageId = "Admin";
}
<div class="post">
  <h2 class="title">Admin</h2>
  <ul>
    <li><a href="~/Admin/AddGuest">Add Guest</a></li>
    <li><a href="~/Admin/ManageGuests">Manage Guests</a></li>
    <li><a href="~/Account/Logout">Log Out</a></li>
  </ul>
</div>