@section Scripts {
  <script src="~/Scripts/knockout-2.1.0.js"></script>
  <script src="~/Knockout/ManageGuestsViewModel.js"></script>
  <script src="~/Knockout/CustomBindings.js"></script>
  <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
}
<div class="post">
  <h2 class="title">Manage Guests</h2>
  <p>Here you can view guests that are coming to your wedding (limit of 8 per party)</p>
  <div class="totalGuests">
    <span class="totalGuestsLabel">Total Guests: </span><span data-bind="text: totalGuests"></span>
  </div>
  <div class="totalRSVPs">
    <span class="totalRSVPLabel">Total RSVPed: </span><span data-bind="text: totalRSVPs"></span>
  </div>
  <div class="RSVPRate">
    <span class="RSVPRateLabel">RSVP Rate: </span><span data-bind="text: RSVPRate"></span>%
  </div>
  <fieldset>
    <legend>Filter</legend>
      <label for="lastName">Filter by last name:</label>
      <input id="lastName" data-bind="value: filter, valueUpdate: 'keyup'" type="text"/>
      <input type="button" id="clear" class="ajaxButton" value="Clear" data-bind="click: clearFilter" />
  </fieldset>
  <div class="notFound" data-bind="css: { visible: filteredGuests().length == 0 }" >
    No guests found! Try another search.
  </div>
  <div class="tableWrapper">
    <table class="ko-grid" data-bind="css: { visible: filteredGuests().length > 0 }">
      <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Number of Guests</th>
            <th>Responded</th>
            <th>Coming?</th>
            <th>Invitation Id</th>
            <th>Add Names</th>
            <th>Delete?</th>
          </tr>
      </thead>
      <tbody data-bind="foreach: filteredGuests">
          <tr>
              <td data-bind="text: LastName"></td>
              <td data-bind="text: FirstName"></td>
              <td>
                <a href="#" data-bind="click: $root.subtractFromParty">-</a>
                <span data-bind="text: NumberInParty"></span>
                <a href="#" data-bind="click: $root.addToParty">+</a>
              </td>
              <td>
                  <a data-bind="visible: Responded, click: $root.markNotResponded" href="#">Yes</a>
                  <a data-bind="visible: !Responded, click: $root.markResponded" href="#">No</a>
              </td>
              <td data-bind="comingText: Coming"></td>
              <td data-bind="text: InvitationId"></td>
              <td><a data-bind="attr: { href: 'AddGuestNames/' + InvitationId}">Add Names</a></td>
              <td><button data-bind="deletePrompt: $root">Delete</button></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="dialog-delete-element" style="display: none" title="Delete">
    <p>Are you sure? You will have to re-issue the invitation ID.</p>
  </div>
</div>