@section Scripts {
  <script src="~/Scripts/knockout-2.1.0.js"></script>
  <script src="~/Knockout/ManageGuestsViewModel.js"></script>
}
<div class="post">
  <h2 class="title">Manage Guests</h2>
  <p>Here you can view guests that are coming to your wedding.</p>

  <table class="ko-grid">
    <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Number of Guests</th>
          <th>Responded</th>
          <th>Invitation Id</th>
          <th>Delete?</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: guests">
        <tr>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: FirstName"></td>
            <td>
              <a href="#" data-bind="click: $root.subtractFromParty">-</a>
              <span data-bind="text: NumberInParty"></span>
              <a href="#" data-bind="click: $root.addToParty">+</a>
            </td>
            <td>
                <a data-bind="visible: Responded, click: $root.markNotResponded" href="#">Yes</a>
                <a data-bind="visible: !Responded, click: $root.markResponded" href="#">No</a>
            </td>
            <td data-bind="text: InvitationId"></td>
            <td><button data-bind="click: $root.deleteGuest">Delete</button></td>
        </tr>
    </tbody>
  </table>
  <div class="totalGuests">
    <span class="totalGuestsLabel">Total Guests: </span><span data-bind="text: totalGuests"></span>
  </div>
  <div class="totalRSVPs">
    <span class="totalRSVPLabel">Total RSVPed: </span><span data-bind="text: totalRSVPs"></span>
  </div>
  <div class="RSVPRate">
    <span class="RSVPRateLabel">RSVP Rate: </span><span data-bind="text: RSVPRate"></span>%
  </div>
</div>
