<div id="menu-wrapper">
  <nav>
    <ul>
      <li id="homenavlink"><a href="~/">Home</a></li>
      <li id="storynavlink"><a href="~/Story">Our Story</a></li>
      <li id="photonavlink"><a href="~/Photos">Photos</a></li>
      <li id="rsvpnavlink"><a href="~/RSVP">RSVP</a></li>
      <li id="registrynavlink"><a href="~/Registry">Registry</a></li>
      <li id="adminnavlink"><a href="~/Admin">Admin</a></li>
    </ul>
  </nav>
</div>