@{
  var title = PageData[0];
  var postedBy = PageData[1];
  var postedDate = PageData[2];
  var imgUrl = PageData[3];
  var content = PageData[4];
}
<div class="post">
  <h2 class="title">@title</h2>
  <p class="meta">Posted by @postedBy on March 19, 2012</p>
  <div class="entry">
    <p>
      <img src="@Server.MapPath(imgUrl)" width="620" height="250" alt="@title" class="border" />
      @Html.Raw(content)
    </p>
  </div>
</div>