#Photos > #page {
  background-image: url("../Images/birds_red.png");
  background-repeat: no-repeat;
  background-position: 430px 830px;
}
#galleria { 
  display: none;
  width: 600px;
  height: 420px;
  margin-top: 10px;
}