#Photos > #page {
  background-image: url("../Images/birds_red.png");
  background-repeat: no-repeat;
  background-position: 430px 810px;
}
#galleria { 
  display: none;
  height: 480px;
  margin-top: 50px;
}