.rsvpContent {
  text-align: left;
  width: 500px;
}

.rsvpContent h2 {
  margin-bottom: 13px;
}

#RSVP > #page {
  background-image: url("../Images/hearts_red.png");
  background-repeat: no-repeat;
  background-position: 380px 50px;
}

fieldset {
  border: none;
}

  fieldset ol {
    list-style: none;
    padding: 0;
  }

  fieldset legend {
    display: none;
  }

  fieldset ol li {
    padding-bottom: 10px;
  }

  fieldset ol label {
    font-family: Segoe UI;
    text-transform: uppercase;
    display: block;
    padding-bottom: 3px;
  }

  fieldset input[type="text"], fieldset input[type="password"] {
    margin-left: 3px;
    font-family: Segoe UI;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 300px;
  }

  fieldset select {
    margin-left: 3px;
    font-family: 'Segoe UI';
    font-size: 1.1em;
    padding: 5px;
  }

    fieldset select option {
      padding-right: 10px;
    }

.formactions {
  margin-top: 15px;
}

fieldset input[type="submit"], .ajaxButton {
  font-family: Segoe UI;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 3px;
  font-size: 1.2em;
  color: #444;
  width: 100px;
}

.longAjaxButton {
  width: 170px;
}

.ajaxButton {
  margin-left: 7px;
  font-size: 1.1em;
}

.validation-summary-errors {
  color: #E91370;
  font-weight: bold;
  font-size: 1.1em;
}

  .validation-summary-errors li {
    line-height: 105%;
  }

.validation-summary-valid {
  display: none;
}

.error-label {
  font-weight: bold;
}

.field-validation-error {
  color: #E91370;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 7px;
}

#invitationInfo {
  display: none;
}

#errorMessage {
  display: none;
  color: #DC1E31;
  font-weight: bold;
}

.notFound {
  color: #DC1E31;
  font-weight: bold;
  margin-top: 3px;
  display: none;
}

.visible {
  display: block;
}

#singlePerson, #multiplePeople {
  display: none;
}